.grid {
  margin-top: 0em;
  /*text-align: center;*/
  align-items: stretch;
}

.row {
  border: none;
  flex-grow: 1;
  padding: 0em;
}
.column {
  /*display: flex;*/
  border: 1px solid blue;
  text-align: center;
  /*flex-grow: 1;*/
  /*padding: 0%;*/
  /*align-items: center;*/
  vertical-align: middle;
  flex-grow: 1;
}

.column p {
  color: yellow;
  text-align: center;
  padding: none;
  /*height: auto;*/
  /*align-items: stretch;*/
  
}

.multiRow {
  /*display: flex;*/
  flex-direction: column;
  padding: 0rem;
  padding-left: 0%;
  padding-right: 0%;
  flex-grow: 1;
}

.insideRow {
  color: pink;
  border: 1px solid blue;
}